version: '3.8'

services:
  # The FastAPI Backend
  backend:
    build: .
    command: uvicorn main:app --host 0.0.0.0 --port 8000
    volumes:
      - .:/app
    env_file:
      - .env
    ports:
      - "8000:8000"

  # The Streamlit Frontend
  frontend:
    build: .
    command: streamlit run app.py --server.port 8501 --server.address 0.0.0.0
    volumes:
      - .:/app
    depends_on:
      - backend
    ports:
      - "8501:8501"